
<link href="~/Content/css/cssLogin.css" rel="stylesheet" />
@model QuanLyTinTuc.Models.Account
@{

}
<div class="login">
    <form action="~/Account/ForgotPassword" method="post" enctype="multipart/form-data">
        <div class="row justify-content-md-center">
            <div class="login-content">
                <div class="form-container">
                    <h1>QUÊN MẬT KHẨU</h1>
                    <hr />
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-group form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="Receiver" />
                        </div>

                        <button type="submit">Lấy lại mật khẩu</button>

                        <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    }
                </div>
            </div>
        </div>
    </form>

</div>
