@model QuanLyTinTuc.Models.TinTuc
@{
    ViewBag.Title = "xemchitiet";
}

<style>
</style>

<div class="container">
    <br />
    <h1 style="font-weight: bold">@Model.TieuDe</h1>
    <br />
    <br />
    <article>
        @Html.Raw(@Model.NoiDung);
    </article>
    <br />
</div>

