
@{
    ViewBag.Title = "Hướng dẫn sử dụng";
}
<div style="font-family: 'Roboto', sans-serif;">
    <p><strong>1. Ph&acirc;n c&ocirc;ng c&ocirc;ng việc</strong></p>
    <table width="583" class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td style="text-align: center;" width="95">
                    <p><strong>MSSV</strong></p>
                </td>
                <td style="text-align: center;" width="250">
                    <p><strong>Họ v&agrave; t&ecirc;n</strong></p>
                </td>
                <td style="text-align: center;">
                    <p><strong>C&ocirc;ng việc</strong></p>
                </td>
            </tr>
            <tr>
                <td width="95">
                    <p>2001181091</p>
                </td>
                <td width="172">
                    <p>Nguyễn Duy Hải</p>
                </td>
                <td>
                    <p>Frontend cho user, Frontend đăng nhập, hướng dẫn</p>
                </td>
            </tr>
            <tr>
                <td width="95">
                    <p>2001181102</p>
                </td>
                <td width="172">
                    <p>Nguyễn L&ecirc; Phước Hậu</p>
                </td>
                <td>
                    <p>Backend cho user, Backend đăng nhập</p>
                </td>
            </tr>
            <tr>
                <td width="95">
                    <p>2001190619</p>
                </td>
                <td width="172">
                    <p>Trần Đăng khoa</p>
                </td>
                <td>
                    <p>Backend cho admin</p>
                </td>
            </tr>
            <tr>
                <td width="95">
                    <p>2001190270</p>
                </td>
                <td width="172">
                    <p>Phạm Quang Thiện</p>
                </td>
                <td>
                    <p>Frontend cho admin</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>2. H</strong><strong>ướng dẫn sử dụng</strong></p>
    <ul>
        <li>
            <em>Người đọc</em>
            <ul>
                <li>Người đọc kh&ocirc;ng được đăng nhập, tuy nhi&ecirc;n c&oacute; thể xem tin tức theo chủ đề (Bấm v&agrave;o t&ecirc;n chủ đề ở header). C&oacute; thể t&igrave;m kiếm theo t&ecirc;n của b&agrave;i viết.</li>
                <li>Ở trang chủ c&oacute; 2 phần l&agrave; <em>tin tức phổ biến</em> v&agrave; <em>tin t&uacute;c mới nhất</em>. Tin tức phổ biến 10 tin mới nhất được sắp xếp theo số lượng lượt xem, v&agrave; tin tức mới nhất l&agrave; tin được sắp xếp theo số thời gian đăng b&agrave;i.&nbsp;</li>
                <li>Trong mỗi b&agrave;i viết người đọc c&oacute; thể comment, v&agrave; xem&nbsp;tất cả&nbsp;comment của người kh&aacute;c.</li>
            </ul>
        </li>
        <li>
            <em>Người viết b&agrave;i</em>
            <ul>
                <li>Người viết b&agrave;i c&oacute; thể th&ecirc;m xo&aacute; sửa, ẩn b&agrave;i viết m&agrave; m&igrave;nh đ&atilde; đăng</li>
                <li>C&oacute; thể ẩn comment tr&ecirc;n b&agrave;i viết m&agrave; m&igrave;nh đ&atilde; đăng</li>
            </ul>
        </li>
        <li>
            <em>Admin</em>
            <ul>
                <li>Admin l&agrave; người c&oacute; to&agrave;n quyền tr&ecirc;n trang web, admin c&oacute; thể th&ecirc;m t&agrave;i khoản cho người viết b&agrave;i</li>
                <li>C&oacute; tất cả quyền tr&ecirc;n mọi b&agrave;i viết</li>
            </ul>
        </li>
    </ul>
    <p><strong>3.&nbsp;T&agrave;i khoản để thầy test</strong></p>
    <table width="583" class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td style="text-align: center;" width="150">
                    <p><strong>Loại t&agrave;i khoản</strong></p>
                </td>
                <td style="text-align: center;" width="250">
                    <p><strong>Email</strong></p>
                </td>
                <td style="text-align: center;">
                    <p><strong>Password</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>admin</p>
                </td>
                <td>
                    <p>nguyenhai86.it@gmail.com</p>
                </td>
                <td>
                    <p>1234</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Người viết b&agrave;i</p>
                </td>
                <td>
                    <p>user1@gmail.com</p>
                </td>
                <td>
                    <p>User123</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>
