@model IEnumerable<QuanLyTinTuc.Models.TinTuc>
@{ 
    GetData data = new GetData();
}
<div>
    <div>
        @Html.Partial("PopularPost", data.GetPopularPost())
    </div>
    
    <div>
        @Html.Partial("NewPost", data.GetNewPost())
    </div>
</div>