@model IEnumerable<QuanLyTinTuc.Models.TinTuc>
@{ 
    GetData data = new GetData();
}
<div>
    <td>
    <div class="col-md-4">
        <!-- Phổ biến -->
        @Html.Partial("PopularPost", data.GetPopularPost())

    </div>
    <div class="col-md-4">
        <!-- Phổ biến -->
        @Html.Partial("NewPost", data.GetNewPost())

    </div>
    </td>
</div>