body {
}
.p-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    /* Black 80% */
    color: #121221;
}
.post {
    width: 35rem;
    height: 32rem;
    margin-bottom: 5rem;
}
    .post img {
        max-width: 32rem;
        height: 25rem;
        border-radius: 8px;
    }
    .post .title {
        font-style: normal;
        font-weight: bold;  
        font-size: 20px;
        line-height: 32px;
        /* Black 80% */
        color: #121221;
    }
    .post a {
        text-decoration: none;
    }
    .post .info {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        /* Black 20% */

        color: #949494;
    }

