.p-title{
    clear: both;
    margin-bottom: 2rem;
}
.post{
    width: 150rem;
    height: 23rem;
    color: #333;
    margin-bottom: 1.5rem; 
}
    .post img, .post svg {
        width: 100%;
        height: 15rem;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .post .title{
        height: 4.5rem;
    }
    .post .title h5 {
        color: #333;
    }
.post .info{
    color: #3333;
    font-size: 12px;
}
