body {
}
.login {
    padding-top: 3rem;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-bottom: 5rem;
    display: flex;
    margin-top: 20px;
    margin: auto;
    min-height: 65vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f5f0;
    border-radius: 12px;
}
.login h1{
    text-align: center;
    padding: 1.5rem;
}

button {
    border-radius: 20px;
    width: 20rem;
    border: 1px solid #68B2A0;
    background-color: #68B2A0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 15px 0;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

.login a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
