
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaiMk</title>
</head>
<body>
    <div> 
        Có cái mật khẩu cũng không nhớ<br />
        <a href="~/Admin/Login">Nhập lại coi</a>
    </div>
</body>
</html>
